/* Global
   ========================================================================== */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Content
   ========================================================================== */

html {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    color: #333;
}

a {
    color: #333;
    text-decoration: underline;
    text-decoration-color: #0055ff;
}

a:hover,
a:active,
a:focus {
    color: #0055ff;
    transition: 0.1s;
}

a:focus {
    transition: 0.1s;
    display: inline-block;
    padding: 0.1em;
    margin: -0.1em;
    background-color: #0055ff;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #fff;
}

a:focus svg {
    fill: #fff;
}

.content {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.content > section:not(:first-child) {
    margin-bottom: 6rem;
}

#title {
    font-weight: 900;
    font-size: 4rem;
    margin: 0;
}

.header {
    font-weight: 900;
    font-size: 3rem;
    margin: 0;
}

.description {
    font-size: 1.25rem;
    line-height: 1.8rem;
}


/* Grids
   ========================================================================== */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 12rem;
    text-align: center;
}

.grid .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* inline-axis */
    align-items: center; /* cross-axis */
    align-content: center;
}

.grid .item .title,
.grid .item:hover .title {
    transition: margin-bottom 0.2s cubic-bezier(0.42, 0.4, 0.21, 0.9);
}
.grid .item:hover .title {
    margin-bottom: 1.5rem;
}

.grid .title,
.grid .logo,
.grid .description {
    flex: 1 100%;
}

.grid .description {
    max-width: 25rem;
    margin: 0 auto;
}

.grid .title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.grid .title a {
    color: #fff;
    text-decoration: none;      
}

.grid .title a:focus {
    text-decoration: underline;
}

.grid .logo {
    margin: 1.5rem 0;
    fill: #fff;
}

.grid .item {
    position: relative;
}

.grid .link::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}


/* Introduction
   ========================================================================== */

#intro {
    height: 100vh;
    margin-top: 20vh;
}

#intro .header {
    font-weight: 900;
    font-size: 4rem;
    margin: 0;
}

#intro .description {
    font-size: 1.4rem;
    line-height: 2rem;
}


/* Experience
   ========================================================================== */

#experience {
    margin-top: calc(-20vh - 10rem);
}

#experience #six12-creative {
	grid-column: span 2;
    grid-row: span 2;
    background-color: #00ADEF;
    color: #fff;
}

#experience #sfu {
	grid-column: span 1;
    grid-row: span 2;
    background-color: #A6192E;
    color: #fff;
}

#experience #ivizlab {
	grid-column: span 1;
    grid-row: span 2;
    background-color: #ef6424;
    color: #fff;
}


/* Projects
   ========================================================================== */

#projects {

}

#projects #flash-flash-revolution {
    grid-column: span 2;
    grid-row: span 2;
    background-color: #28aad1;
    color: #fff;
}

#projects #multiphasic-orbit {
	grid-column: span 1;
    grid-row: span 2;
    background-color: #171021;
    color: #fff;
}

#projects #lux {
	grid-column: span 1;
    grid-row: span 1;
    background-color: #333;
    color: #fff;
}

#projects #lyns-rhythm-dungeon {
	grid-column: span 1;
    grid-row: span 1;
    background-color: #C00060;
    color: #fff;
}

#projects #pocket-cleric {
	grid-column: span 1;
    grid-row: span 1;
    background-color: rgb(37, 88, 37);
    color: #fff;
}

#projects #potted-picasso {
    grid-column: span 1;
    grid-row: span 1;
    background-color: rgb(45, 57, 226);
    color: #fff;
}


/* Contact
   ========================================================================== */

#contact {
    
}

#contact .logo {
    fill: #333;
    margin: 1rem;
}


/* Footer
   ========================================================================== */

#footer {
    margin-bottom: 6rem;
}


/* Media Queries
   ========================================================================== */

@media screen and (max-height: 35rem) {
    /* Collapse fold on short displays */
    #intro {
        margin-top: 0;
        height: initial;
    }
    .content {
        margin-top: 2rem;
    }
    #experience {
        margin-top: initial;
    }
} 