/* Global
   ========================================================================== */

*, *:before, *:after {
    box-sizing: border-box;
}


/* Content
   ========================================================================== */

html {
    font-family: "Roboto", sans-serif;
    color: #333;
}

a {
    color: #333;
    text-decoration: underline;
    text-decoration-color: #0055ff;
}

a:hover,
a:active,
a:focus {
    color: #0055ff;
    transition: 0.1s;
}

.content {
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
}

#title {
    font-weight: 900;
    font-size: 4rem;
    margin: 0;
}

.header {
    font-size: 3rem;
    margin: 0;
}

.description {
    font-size: 1.25rem;
    line-height: 1.8rem;
}

main > section {
    margin-bottom: 6rem;
}

/* Grids
   ========================================================================== */

.grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
}


/* Introduction
   ========================================================================== */

#intro {
    padding: 2rem;
    margin: 10vh -2rem 40vh -2rem;
}

#intro p:last-child {
    margin-bottom: 0.5rem;
}


/* Experience
   ========================================================================== */

#experience {

}

.header {
    margin-bottom: 2rem;
}

.title {
    font-size: 1.5rem;
    line-height: 2rem;
}

/* Projects
   ========================================================================== */

#projects {

}

.item {
    position: relative;
    line-height: 1.2rem;
}

.link::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}

.logo {
    display: block;
    height: 3rem;
    margin-bottom: 0.5rem;
    fill: #333;
}

.item:hover p {
    color: #0055ff;
}

.item:hover .logo,
.item:active .logo {
    fill: #0055ff;
}

.logo {
    fill: #333;
    margin-right: 1rem;
}

.logo:hover,
.logo:active,
.logo:focus {
    fill: #0055ff;
}


/* Contact
   ========================================================================== */

#contact {
    
}
